<div class="grid doNotPrint">
    <button type="button" pButton pRipple icon="pi pi-file-pdf" class="p-mr-2 doNotPrint" pTooltip="PDF"
                            (click)="print();" tooltipPosition="bottom"></button>
</div>
<div class="grid">
    <div class="col-4">
        <div class=" p-3 border-round-sm bg-grey-500 font-bold text-black card-shadow">
            <div class="relative">
                <img src="assets/dummyuser.png" style="width:100%" alt="Avatar">
                <div class="absolute left-0 bottom-0 w3-container w3-text-black pl-2">
                    <h2>Name</h2>
                </div>
            </div>
            <div>
                <p><i class="pi pi-shopping-bag  pl-2 pr-3 text-xl text-orange-500"></i>Profession</p>
                <p><i class="pi pi-home  pl-2 pr-3 text-xl text-orange-500"></i>Address</p>
                <p><i class="pi pi-envelope  pl-2 pr-3 text-xl text-orange-500"></i>E-Mail</p>
                <p><i class="pi pi-phone  pl-2 pr-3 text-xl text-orange-500"></i>Contact</p>
            </div>
            <div>
                <h2>Skills</h2>
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
                <p>5</p>
            </div>
            <div>
                <h2>Language</h2>
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
                <p>5</p>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="col-12 pt-0">
            <div class=" p-3 border-round-sm bg-white-500 font-bold text-black card-shadow">
                <div>
                    <h2>Work Experience</h2>
                </div>
                <div>
                    <h3>Designation : Designation</h3>
                    <h4>Date: Date</h4>
                    <p>Description : Description</p>
                    <hr>
                </div>
                <div>
                    <h3>Designation : Designation</h3>
                    <h4>Date: Date</h4>
                    <p>Description : Description</p>
                    <hr>
                </div>
                <div>
                    <h3>Designation : Designation</h3>
                    <h4>Date: Date</h4>
                    <p>Description : Description</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class=" p-3 border-round-sm bg-white-500 font-bold text-black card-shadow">
                <div>
                    <h2>Education</h2>
                </div>
                <div>
                    <h3>School Name: School Name</h3>
                    <h4>Date: Date</h4>
                    <p>Degree: Degree</p>
                    <hr>
                </div>
                <div>
                    <h3>School Name: School Name</h3>
                    <h4>Date: Date</h4>
                    <p>Degree: Degree</p>
                    <hr>
                </div>
                <div>
                    <h3>School Name: School Name</h3>
                    <h4>Date: Date</h4>
                    <p>Degree: Degree</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>